{% block center %}
    <div class="w3-auto w3-teal" id="main">
        <form class="w3-container" style="padding-top: calc(17vw + 20px); padding-bottom: 30vh;" id="landing_form"
              method="post">
            <label>numer telefonu:</label>
            <input class="w3-input w3-margin-bottom" type="text" name="username">
            <label>hasło:</label>
            <input class="w3-input w3-margin-bottom" type="password" name="password">
            <input class="w3-button w3-ripple w3-light-gray w3-hover-purple w3-margin-top w3-mobile"
                   style="width: 35%" type="submit" value="Sprawdź">
        </form>
    </div>
{% endblock %}