{% block center %}
    <script>
        function validateForm() {
            var u = document.forms["landing_form"]["username"].value;
            var p = document.forms["landing_form"]["password"].value;
            if (u == null || u === "" | p == null || p === "") {
                alert("Wypełnij oba pola")
                return false;
            }
        }
    </script>

    <form class="w3-container" id="landing_form" onsubmit="return validateForm()" action="/services"
            {#        <form class="w3-container" style="padding-top: calc(17vw + 20px)" ; id="landing_form"#}
          method="post">
        <label>numer telefonu:</label>
        <input class="w3-input w3-margin-bottom" id="username" type="text" name="username">
        <label>hasło:</label>
        <input class="w3-input w3-margin-bottom" id="password" type="password" name="password">
        <input class="w3-button w3-ripple w3-light-gray w3-hover-purple w3-margin-top w3-mobile"
               style="width: 35%" type="submit" id="add_new_button" value="{{ submit_button_text }}">
    </form>

{% endblock %}