{% extends "layout.html" %}
{% block center %}
    <div class="w3-content w3-rest" style="max-width: 900px; margin-top: 26vh" id="main">


        <div class="w3-white">
            <div class="w3-container w3-purple">
                {% if accounts|length <= 1 %}
                    <h3>Twoje konto:</h3>
                {% else %}
                    <h3>Twoje konta:</h3>
                {% endif %}

            </div>
            <div>
                {#                {% with accounts %}#}
                <table class="w3-table w3-striped w3-bordered">
                    <tr class="w3-dark-grey">
                        <th>Numer</th>
                        <th>Operator</th>
                        <th>Gigabajty</th>
                        <th>Dni</th>
                    </tr>
                    {% for account in accounts %}
                        <tr>
                            <td>{{ account['msdin'] }}</td>
                            <td>{{ account['operator'] }}</td>
                            <td>{{ account['GBdue'] }}</td>
                            <td>{{ account['dateDue'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <input class="w3-btn w3-rest w3-mobile w3-light-blue w3-center" style="margin: 10px 10px 10px 10px" type="button"
                       id="add_new"
                       value="Dodaj nowe konto">
            </div>
        </div>
    </div>
{% endblock %}